Additional RFCs to Update?

From Brian Carpenter:

There's a bit more to do. The term "IETF Executive Director" is used
in both RFC2026 and RFC2418, without definition, and since those are
still our most fundamental process documents I think we need to be
very explicit. To which role in the new structure do those two RFCs
refer?

It's also present in RFC 2028, 3005, 3710, 3716, 3929, 3979, 4071, 4089,
4633, 4879 and 7437, and only some of those are under revision here.

    Brian

RFC 2028: addressed in my edits to John's draft

RFC 3005: addressed in my edits to John's draft

RFC 3710: addressed in my edits to John's draft

RFC 3716: While this describes the administrative structure of the IETF, it dates to 2004 and is informational. As a result, no update was deemed necessary. If you think we still need an update to this, let's discuss it (I will start a new thread on this).

RFC 3929: While this touches on aspects of the administration of the IETF, such as mentioning the IETF Executive Director, it dates to 2004 and is experimental. As a result, no update is necessary.

RFC 3979: Updated by RFC 8179, which corrects mentions of the IETF Executive Director to the IETF Secretariat. As a result, no revision is necessary. 

RFC 4071: Work in progress -- the Structure draft will update this.

RFC 4089: This is a gap. We will be sure the structure draft updates this in some manner.

RFC 4633: Refers to IETF Executive Director. BUT, it describes a 2006 experiment that ran for 18 months and is filed as experimental. As a result, no obvious need to update it at this time.

RFC 4879:  Updated by RFC 8179, which corrects mentions of the IETF Executive Director to the IETF Secretariat. As a result, no revision is necessary. 

RFC 7437: Work in progress -- see RFC7437-bis.
